.moneda{    
    background-color: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding-left: 10px
}
.dolar{
    
    width: 100px;
    height: 100px;
    padding: 10px;
    background-color: blue;
    border-radius: 50%;

}
.main-box{
    display: flex;
    justify-content: center;
    padding-top: 1%;
    margin-left: 30%;
    position:relative;
    width: 550px;
    height: 550px;
    background-image: url('Fondo-Polygon.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-radius: 15%;
}
.main-box::before{
  content: "";
  opacity: 0.5;
  z-index: -1;
}
.p{
    display: flex;
    justify-content: center;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    border: solid 2px black;
    border-radius: 15px;
    background-color: rgb(52, 42, 187); 
    }
.p:hover{
    background-color: rgb(65, 54, 231);
    border: solid 2px rgb(252, 250, 250);
    
    }
.p2{
  justify-content: center;  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  border: solid 2px white;
  border-radius: 15px;
  background-color: white; 
  
}
.p3{
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    border: solid 2px white;
    border-radius: 15px;
    background-color: white; 
    font-size: x-large;
    
  }

  body{
    background-image: url('wallstreet.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  body::before{
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg,blue,red);
    background-attachment: fixed;
    opacity: 0.5;
    z-index: -1;
  }
  .popup{
    cursor:pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
  }